<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <link rel="shortcut icon" href="./assets/img/favicon.ico" />
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css" />
  <title>Login | Tailwind Starter Kit by </title>
</head>

<body class="text-gray-800 antialiased">
  <nav class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 ">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
        <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 bg-colorspace-nowrap uppercase text-bg-color"
          href="https://www.creative-tim.com/learning-lab/tailwind-starter-kit#/presentation">Tailwind Starter
          Kit</a><button
          class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
          type="button" onclick="toggleNavbar('example-collapse-navbar')">
          <i class="text-bg-color fas fa-bars"></i>
        </button>
      </div>
      <div class="lg:flex flex-grow items-center bg-bg-color lg:bg-transparent lg:shadow-sm-none hidden"
        id="example-collapse-navbar">
        <ul class="flex flex-col lg:flex-row list-none mr-auto">
          <li class="flex items-center">
            <a class="lg:text-bg-color lg:hover:text-bg-color text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
              href="https://www.creative-tim.com/learning-lab/tailwind-starter-kit#/login"><i
                class="lg:text-bg-color text-bg-color far fa-file-alt text-lg leading-lg mr-2"></i>
              Docs</a>
          </li>
        </ul>
        <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
          <li class="flex items-center">
            <a class="lg:text-bg-color lg:hover:text-bg-color text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
              href="#pablo"><i class="lg:text-bg-color text-bg-color fab fa-facebook text-lg leading-lg "></i><span
                class="lg:hidden inline-block ml-2">Share</span></a>
          </li>
          <li class="flex items-center">
            <a class="lg:text-bg-color lg:hover:text-bg-color text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
              href="#pablo"><i class="lg:text-bg-color text-bg-color fab fa-twitter text-lg leading-lg "></i><span
                class="lg:hidden inline-block ml-2">Tweet</span></a>
          </li>
          <li class="flex items-center">
            <a class="lg:text-bg-color lg:hover:text-bg-color text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
              href="#pablo"><i class="lg:text-bg-color text-bg-color fab fa-github text-lg leading-lg "></i><span
                class="lg:hidden inline-block ml-2">Star</span></a>
          </li>
          <li class="flex items-center">
            <button
              class="bg-bg-color text-gray-800 active:bg-bg-color text-xs font-bold uppercase px-4 py-2 rounded shadow-sm hover:shadow-sm outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
              type="button" style="transition: all 0.15s ease 0s;">
              <i class="fas fa-arrow-alt-circle-down"></i> Download
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main>
    <section class="absolute w-full h-full">
      <div class="absolute top-0 w-full h-full bg-gray-800"
        style="background-image: url(./assets/img/register_bg_2.png); background-size: 100%; background-repeat: no-repeat;">
      </div>
      <div class="container mx-auto px-4 h-full">
        <div class="flex content-center items-center justify-center h-full">
          <div class="w-full lg:w-4/12 px-4">
            <div
              class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-sm bg-bg-color border">
              <div class="rounded-t mb-0 px-6 py-6">
                <div class="text-center mb-3">
                  <h6 class="text-gray-800 text-sm font-bold">
                    Se connecter avec
                  </h6>
                </div>
                <div class="btn-wrapper text-center">
                  <button
                    class="bg-bg-color active:bg-bg-color text-gray-800 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-2 mb-1 uppercase shadow-sm hover:shadow-sm inline-flex items-center font-bold text-xs"
                    type="button" style="transition: all 0.15s ease 0s;">
                    <img alt="..." class="w-5 mr-1" src="./assets/img/github.svg" />Github</button><button
                    class="bg-bg-color active:bg-bg-color text-gray-800 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 uppercase shadow-sm hover:shadow-sm inline-flex items-center font-bold text-xs"
                    type="button" style="transition: all 0.15s ease 0s;">
                    <img alt="..." class="w-5 mr-1" src="./assets/img/google.svg" />Google
                  </button>
                </div>
                <hr class="mt-6 border-b-1 border-bg-color" />
              </div>
              <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                <div class="text-bg-color text-center mb-3 font-bold">
                  <small>Or Connectez-vous avec des informations d'identification</small>
                </div>
                <form>
                  <div class="relative w-full mb-3">
                    <label class="block uppercase text-gray-800 text-xs font-bold mb-2"
                      for="grid-password">Email</label><input type="email" 
                      class="peer border border-main focus:outline-none focus:border-secondary shadow-sm focus:shadow-sm-sm w-full py-1 px-2 h-8 text-sm bg-bg-color"
                      placeholder="Email" style="transition: all 0.15s ease 0s;" />
                  </div>
                  <div class="relative w-full mb-3">
                    <label class="block uppercase text-gray-800 text-xs font-bold mb-2" for="grid-password">Mot de
                      passe</label><input type="password"
                      class="peer border border-main focus:outline-none focus:border-secondary shadow-sm focus:shadow-sm-sm w-full py-1 px-2 h-8 text-sm bg-bg-color"
                      placeholder="Mot de passe" style="transition: all 0.15s ease 0s;" />
                  </div>
                  <div>
                    <label class="inline-flex items-center cursor-pointer"><input id="customCheckLogin" type="checkbox"
                        class="form-checkbox border rounded text-gray-800 ml-1 w-5 h-5"
                        style="transition: all 0.15s ease 0s;" /><span
                        class="ml-2 text-sm font-semibold text-gray-800">Rester connecté</span></label>
                  </div>
                  <div class="text-center mt-4">
                    <button
                      class="flex text-bg-color bg-secondary hover:text-main hover:bg-tertiary border py-2 px-6 text-tiny focus:outline-none transition hover:no-underline ml-2"
                      type="button" style="transition: all 0.15s ease 0s;">
                      S'identifier
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="flex flex-wrap mt-6">
              <div class="w-1/2">
                <a href="#pablo" class="text-bg-color"><small>Mot de passe oublié ?</small></a>
              </div>
              <div class="w-1/2 text-right">
                <a href="#pablo" class="text-bg-color"><small>Créer un nouveau compte</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="absolute w-full bottom-0 bg-main pb-4">
        <div class="container mx-auto px-4">
          <hr class="mb-4 border-b-1 border-gray-800" />
          <div class="flex flex-wrap items-center md:justify-between justify-center">
            <div class="w-full md:w-4/12 px-4">
              <div class="text-sm text-bg-color font-semibold py-1">
                Copyright © 2022
                <a href="https://www.creative-tim.com"
                  class="text-bg-color hover:text-bg-color text-sm font-semibold py-1"> </a>
              </div>
            </div>
            <div class="w-full md:w-8/12 px-4">
              <ul class="flex flex-wrap list-none md:justify-end  justify-center">
                <li>
                  <a href="https://www.creative-tim.com"
                    class="text-bg-color hover:text-bg-color text-sm font-semibold block py-1 px-3"> </a>
                </li>
                <li>
                  <a href="https://www.creative-tim.com/presentation"
                    class="text-bg-color hover:text-bg-color text-sm font-semibold block py-1 px-3">***</a>
                </li>
                <li>
                  <a href="http://blog.creative-tim.com"
                    class="text-bg-color hover:text-bg-color text-sm font-semibold block py-1 px-3">***</a>
                </li>
                <li>
                  <a href="https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md"
                    class="text-bg-color hover:text-bg-color text-sm font-semibold block py-1 px-3">***</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </section>
  </main>
</body>
<script>
  function toggleNavbar(collapseID) {
    document.getElementById(collapseID).classList.toggle("hidden");
    document.getElementById(collapseID).classList.toggle("block");
  }
</script>

</html>