/* ./resources/css/app.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none;
}

body {
    font-size: 1rem;
}

.tree {
    position: relative;
}

.tree small {
    font-style: italic;
    letter-spacing: 0.4px;
    color: #a8a8a8;
}

.tree .fa-folder-open,
.tree .fa-folder {
    color: #007bff;
}

.tree .fa-html5 {
    color: #f21f10;
}

.tree ul {
    padding-left: 5px;
    list-style: none;
}

.tree ul li {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tree ul li:before {
    position: absolute;
    top: 15px;
    left: 0;
    width: 10px;
    height: 1px;
    margin: auto;
    content: "";
    background-color: #666;
}

.tree ul li:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    content: "";
    background-color: #666;
}

.tree ul li:last-child:after {
    height: 15px;
}

.tree ul a {
    cursor: pointer;
}

.tree ul a:hover {
    text-decoration: none;
}
.tree ul a.active {
    color: #000000;
}
.nested {
    display: block;
}

.hide {
    display: none;
}

.active {
    display: block;
}

input:checked + label {
    color: rgba(0, 0, 0, var(--tw-text-opacity));
    background-color: rgba(253, 201, 16, var(--tw-bg-opacity));
}

input[name="color"]:checked + label {
    border: 1px solid rgba(255, 255, 255, var(--tw-text-opacity));
    box-shadow: 1px 0px 3px rgba(255, 255, 255, var(--tw-text-opacity));
}

.add_folder {
    background-color: #1f2937;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
/* Style the caret/arrow */

.caret {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
    position: absolute;
    right: 0;
}

/* Create the caret/arrow with a unicode, and style it */

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */

.caret-down::before {
    transform: rotate(90deg);
}

ul.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    align-items: center;
    justify-content: center;
}

ul.pagination li.page-item {
    line-height: 24px;
    margin-right: 0.5rem;
}

ul.pagination li.page-item .page-link {
    padding: 0;
    width: 30px;
    height: 30px;
    display: block;
    font-size: 14px;
    line-height: 28px;
    user-select: none;
    position: relative;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #999;
    box-sizing: content-box;
    background: transparent;
}

ul.pagination li.page-item.active .page-link,
ul.pagination li.page-item > a.page-link:hover {
    color: #fff;
    border-color: #028ce8;
    background-color: #028ce8;
}

.colors > .update_color:first-child > div,
.colors > .update_color_folder:first-child > div {
    position: relative;
}

.colors > .update_color:first-child > div::before,
.colors > .update_color_folder:first-child > div::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 8px;
    bottom: auto;
    right: auto;
    display: block;
    width: 1px;
    height: 17px;
    transform: rotate(45deg);
    background-color: red;
}

.colors > .update_color:first-child > div::after,
.colors > .update_color_folder:first-child > div::after {
    background-color: bg-color;
}
#ajaxShadow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    background: rgba(31, 31, 44, 0.6);
}
#ajaxloader {
    display: none;
    position: fixed;
    height: 50px;
    margin-top: -25px;
    top: 50%;
    width: 50px;
    z-index: 9;
    margin-left: -25px;
    left: 50%;
    border: 8px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 25px 2px #eee;
    -webkit-animation: spin 0.45s linear infinite;
    animation: spin 0.45s linear infinite;
}

/* you simply need to change the color of the background of each div - these are at the bottom of the css */

.icon-doc {
    width: 124px;
    height: 56px;
    background: #000;
    border-radius: 4px;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 600;
    perspective: 600;
    -webkit-transform: perspective(600);
    -moz-transform: perspective(600);
    -ms-transform: perspective(600);
    -o-transform: perspective(600);
    transform: perspective(600);
    border: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.icon-folder {
    margin: 8px;
    width: 120px;
    height: 62px;
    cursor: pointer;
    position: relative;
    /* background: #000;
    border-radius: 4px;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 600;
    perspective: 600;
    -webkit-transform: perspective(600);
    -moz-transform: perspective(600);
    -ms-transform: perspective(600);
    -o-transform: perspective(600);
    transform: perspective(600);
     border: 2px solid rgba(0,0,0,0.2); */
}
/* .icon-folder:before {
    content: "";
    float: right;
    width: 20px;
    height: 20px;
    background-image: -webkit-linear-gradient(
        top right,
        rgba(255, 250, 240, 1) 50%,
        rgba(255, 255, 255, 0.4) 50%
    );
    background-image: linear-gradient(
        to bottom left,
        rgba(255, 250, 240, 1) 50%,
        rgba(255, 255, 255, 0.4) 50%
    );
    border-radius: 0 0 0 6px;
} */
/* .icon-folder:after {
    content: "";
    float: right;
    width: 20px;
    height: 20px;
    background-image: -webkit-linear-gradient(
        top right,
        rgba(0, 0, 0, 0.4) 50%,
        rgba(0, 0, 0, 0) 50%
    );
    background-image: linear-gradient(
        to bottom left,
        rgba(0, 0, 0, 0.4) 50%,
        rgba(0, 0, 0, 0) 50%
    );
    position: relative;
    top: 20px;
    right: -20px;
}*/
.icon-doc:hover .show-action,
.icon-folder:hover .show-action {
    opacity: .85;
}

.icon-doc a,
.icon-folder a {
    line-height: 14px;
    margin-bottom: 4px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card__face.front {
}

.card__face.back {
    transform: rotateY(180deg);
}

.card.is-flipped {
    transform: rotateY(180deg);
}
/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

/*
 *  STYLE 2
 */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #1f2937;
}

/*
 *  STYLE 3
 */

#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #000000;
}

/*
 *  STYLE 4
 */

#style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

#style-4::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

/*
 *  STYLE 5
 */

#style-5::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

#style-5::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

#style-5::-webkit-scrollbar-thumb {
    background-color: #0ae;

    background-image: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        color-stop(0.5, rgba(255, 255, 255, 0.2)),
        color-stop(0.5, transparent),
        to(transparent)
    );
}

/*
 *  STYLE 6
 */

#style-6::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

#style-6::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

#style-6::-webkit-scrollbar-thumb {
    background-color: #f90;
    background-image: -webkit-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
    );
}

/*
 *  STYLE 7
 */

#style-7::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
}

#style-7::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

#style-7::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.44, rgb(122, 153, 217)),
        color-stop(0.72, rgb(73, 125, 189)),
        color-stop(0.86, rgb(28, 58, 148))
    );
}

/*
 *  STYLE 8
 */

#style-8::-webkit-scrollbar-track {
    border: 1px solid black;
    background-color: #f5f5f5;
}

#style-8::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

#style-8::-webkit-scrollbar-thumb {
    background-color: #000000;
}

/*
 *  STYLE 9
 */

#style-9::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

#style-9::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

#style-9::-webkit-scrollbar-thumb {
    background-color: #f90;
    background-image: -webkit-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
    );
}

/*
 *  STYLE 10
 */

#style-10::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
}

#style-10::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

#style-10::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0.2) 75%,
        transparent 75%,
        transparent
    );
}

/*
 *  STYLE 11
 */

#style-11::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    border-radius: 10px;
}

#style-11::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

#style-11::-webkit-scrollbar-thumb {
    background-color: #3366ff;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0.5) 75%,
        transparent 75%,
        transparent
    );
}

/*
 *  STYLE 12
 */

#style-12::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    background-color: #444444;
}

#style-12::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

#style-12::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d62929;
    background-image: -webkit-linear-gradient(
        90deg,
        transparent,
        rgba(0, 0, 0, 0.4) 50%,
        transparent,
        transparent
    );
}

/*
 *  STYLE 13
 */

#style-13::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    background-color: #cccccc;
}

#style-13::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

#style-13::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d62929;
    background-image: -webkit-linear-gradient(
        90deg,
        transparent,
        rgba(0, 0, 0, 0.4) 50%,
        transparent,
        transparent
    );
}

/*
 *  STYLE 14
 */

#style-14::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
    background-color: #cccccc;
}

#style-14::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

#style-14::-webkit-scrollbar-thumb {
    background-color: #fff;
    background-image: -webkit-linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 25%,
        transparent 100%,
        rgba(0, 0, 0, 1) 75%,
        transparent
    );
}

/*
 *  STYLE 15
 */

#style-15::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border-radius: 10px;
}

#style-15::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

#style-15::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
    background-image: -webkit-gradient(
        linear,
        40% 0%,
        75% 84%,
        from(#4d9c41),
        to(#19911d),
        color-stop(0.6, #54de5d)
    );
}

/*
 *  STYLE 16
 */

#style-16::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border-radius: 10px;
}

#style-16::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

#style-16::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
    background-image: -webkit-linear-gradient(
        top,
        #e4f5fc 0%,
        #bfe8f9 50%,
        #9fd8ef 51%,
        #2ab0ed 100%
    );
}
